<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <!-- <link rel="stylesheet" href="estilos.css"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>

<header>
    <div class="logo">
		<img src="{{ url_for('static', filename='img/logo.JPG') }}" alt="Logo de la tienda">
        <!-- <img src="img/logo.JPG" alt="Logo de la tienda"> -->
    </div>
	<nav>
		<a href="{{ url_for('index') }}">Inicio</a>
		<a href="{{ url_for('accesorios_html') }}">Accesorios</a>
		<a href="{{ url_for('brochas_html') }}">Brochas</a>
		<a href="{{ url_for('labios_html') }}">Labios</a>
		<a href="{{ url_for('cuidado_de_la_piel_html') }}">Cuidado de la Piel</a>
		<a href="{{ url_for('ojos_html') }}">Ojos</a>
		<a href="{{ url_for('carrito_html') }}">Carrito</a>
		<a href="{{ url_for('inicio_sesion_html') }}">Iniciar Sesión</a>
		<a href="{{ url_for('registro_html') }}">Registro</a>
	</nav>
</header>

<h1 class="section-title">Carrito de compras</h1>

<!-- Contenedor principal -->
<section class="carrito-section">
    <div class="carrito-productos">
        <!-- Productos agregados se mostrarán aquí -->
    </div>

    <div class="resumen-compra">
        <h3>Ingresar cupón de descuento</h3>
        <input type="text" placeholder="Cupón de descuento">
        <button class="btn-aplicar">Aplicar</button>

        <div class="resumen-detalles">
            <p>Subtotal: <span>$0.00</span></p>
            <h3>Total: <span>$0.00</span></h3>
        </div>

        <button class="btn-pagar">Ir a pagar / Total</button>
        <button class="btn-seguir-comprando">Seguir comprando</button>
        <button class="btn-vaciar-carrito">Vaciar carrito</button>
    </div>
</section>

<footer>
    <p>&copy; 2024 Tienda de Belleza. Todos los derechos reservados.</p>
</footer>

<!-- <script src="js/script.js"></script> -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
