<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <!-- <link rel="stylesheet" href="estilos.css"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>

<header>
    <div class="logo">
		<img src="{{ url_for('static', filename='img/LOGO.JPG') }}" alt="Logo de la tienda">
        <!-- <img src="img/LOGO.JPG" alt="Logo de la tienda"> -->
    </div>
	<nav>
		<a href="{{ url_for('index') }}">Inicio</a>
		<a href="{{ url_for('accesorios_html') }}">Accesorios</a>
		<a href="{{ url_for('brochas_html') }}">Brochas</a>
		<a href="{{ url_for('labios_html') }}">Labios</a>
		<a href="{{ url_for('cuidado_de_la_piel_html') }}">Cuidado de la Piel</a>
		<a href="{{ url_for('ojos_html') }}">Ojos</a>
		<a href="{{ url_for('carrito_html') }}">Carrito</a>
		<a href="{{ url_for('inicio_sesion_html') }}">Iniciar Sesión</a>
	</nav>
</header>

<!-- Título de la sección -->
<h1 class="section-title">Iniciar Sesión</h1>

<section class="login-section">
    <!-- Aquí va el formulario de inicio de sesión -->
    <div class="product-card-login">
        <h3>Iniciar Sesión</h3>
        <form action="/login" method="POST">
            <input type="text" placeholder="Usuario" required>
            <input type="password" placeholder="Contraseña" required>
            <button type="submit">Iniciar Sesión</button>
			
			</form>
	<form onsubmit="iniciarSesion(); return false;">
    <!-- Campos de inicio de sesión -->
	</form>

        <!-- Enlace al formulario de registro -->
        <a style= "color:#00696f"; href="registro.html" class="register-link"> ¿No tienes cuenta? <br> Regístrate aquí.</br> </a>
    </div>
     
</section>

<!-- Espacio entre productos y footer -->
<div style="height: 50px;"></div>

<footer>
    <p>&copy; 2024 Tienda de Belleza. Todos los derechos reservados.</p>
</footer>

<!-- <script src="js/script.js"></script> -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
